<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Buscar PRODUCTOS!</title>
</head>

<body>
    <%- include ('./partials/navbar')%>
        <section class="section">
            <div class="background"></div>
            <%- include ('./partials/head')%>
                <style>
                    @keyframes move {
                        100% {
                            transform: translate3d(0, 0, 1px) rotate(360deg);
                        }
                        .background {
                            position: fixed;
                            width: 100vw;
                            height: 100vh;
                            top: 0;
                            left: 0;
                            background: #c1c8ff;
                            overflow: hidden;
                        }
                        .background span {
                            width: 6vmin;
                            height: 6vmin;
                            border-radius: 6vmin;
                            backface-visibility: hidden;
                            position: absolute;
                            animation: move;
                            animation-duration: 43;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }
                        .background span:nth-child(0) {
                            color: #f9e7f7;
                            top: 57%;
                            left: 11%;
                            animation-duration: 44s;
                            animation-delay: -67s;
                            transform-origin: -21vw 25vh;
                            box-shadow: 12vmin 0 1.5819271793570922vmin currentColor;
                        }
                        .background span:nth-child(1) {
                            color: #FFACAC;
                            top: 57%;
                            left: 24%;
                            animation-duration: 54s;
                            animation-delay: -66s;
                            transform-origin: 7vw 12vh;
                            box-shadow: 12vmin 0 2.3082741303269367vmin currentColor;
                        }
                        .background span:nth-child(2) {
                            color: #FFACAC;
                            top: 19%;
                            left: 53%;
                            animation-duration: 27s;
                            animation-delay: -58s;
                            transform-origin: -24vw -22vh;
                            box-shadow: -12vmin 0 1.9631951442563336vmin currentColor;
                        }
                        .background span:nth-child(3) {
                            color: #fdc9c9;
                            top: 71%;
                            left: 59%;
                            animation-duration: 47s;
                            animation-delay: -57s;
                            transform-origin: -22vw 7vh;
                            box-shadow: -12vmin 0 2.135233765694332vmin currentColor;
                        }
                        .background span:nth-child(4) {
                            color: #FFACAC;
                            top: 83%;
                            left: 18%;
                            animation-duration: 29s;
                            animation-delay: -12s;
                            transform-origin: 14vw 20vh;
                            box-shadow: -12vmin 0 2.3540000904996616vmin currentColor;
                        }
                        .background span:nth-child(5) {
                            color: #fdc9c9;
                            top: 79%;
                            left: 17%;
                            animation-duration: 68s;
                            animation-delay: -28s;
                            transform-origin: 17vw 0vh;
                            box-shadow: 12vmin 0 1.5315414229451347vmin currentColor;
                        }
                        .background span:nth-child(6) {
                            color: #fdc9c9;
                            top: 80%;
                            left: 9%;
                            animation-duration: 7s;
                            animation-delay: -58s;
                            transform-origin: 1vw 17vh;
                            box-shadow: 12vmin 0 1.8837604768536844vmin currentColor;
                        }
                        .background span:nth-child(7) {
                            color: #f9e7f7;
                            top: 42%;
                            left: 79%;
                            animation-duration: 53s;
                            animation-delay: -60s;
                            transform-origin: 24vw -24vh;
                            box-shadow: 12vmin 0 1.5262759869832636vmin currentColor;
                        }
                        .background span:nth-child(8) {
                            color: #FFACAC;
                            top: 78%;
                            left: 53%;
                            animation-duration: 69s;
                            animation-delay: -45s;
                            transform-origin: 6vw -7vh;
                            box-shadow: 12vmin 0 2.466081284071597vmin currentColor;
                        }
                        .background span:nth-child(9) {
                            color: #f9e7f7;
                            top: 87%;
                            left: 39%;
                            animation-duration: 50s;
                            animation-delay: -69s;
                            transform-origin: 15vw -11vh;
                            box-shadow: 12vmin 0 1.6278861374741376vmin currentColor;
                        }
                        .background span:nth-child(10) {
                            color: #FFACAC;
                            top: 51%;
                            left: 6%;
                            animation-duration: 39s;
                            animation-delay: -12s;
                            transform-origin: -11vw 3vh;
                            box-shadow: -12vmin 0 1.8194802517791vmin currentColor;
                        }
                        .background span:nth-child(11) {
                            color: #fdc9c9;
                            top: 15%;
                            left: 44%;
                            animation-duration: 64s;
                            animation-delay: -12s;
                            transform-origin: -2vw -2vh;
                            box-shadow: -12vmin 0 2.494311091042003vmin currentColor;
                        }
                        .background span:nth-child(12) {
                            color: #FFACAC;
                            top: 5%;
                            left: 41%;
                            animation-duration: 22s;
                            animation-delay: -5s;
                            transform-origin: -7vw 23vh;
                            box-shadow: 12vmin 0 1.9610179464683577vmin currentColor;
                        }
                        .background span:nth-child(13) {
                            color: #FFACAC;
                            top: 100%;
                            left: 67%;
                            animation-duration: 46s;
                            animation-delay: -28s;
                            transform-origin: -8vw 4vh;
                            box-shadow: 12vmin 0 2.2274438712474796vmin currentColor;
                        }
                        .background span:nth-child(14) {
                            color: #FFACAC;
                            top: 47%;
                            left: 40%;
                            animation-duration: 64s;
                            animation-delay: -64s;
                            transform-origin: 23vw -19vh;
                            box-shadow: -12vmin 0 1.598543877937458vmin currentColor;
                        }
                        .background span:nth-child(15) {
                            color: #f9e7f7;
                            top: 54%;
                            left: 64%;
                            animation-duration: 11s;
                            animation-delay: -48s;
                            transform-origin: 22vw 24vh;
                            box-shadow: -12vmin 0 2.169650756402644vmin currentColor;
                        }
                        .background span:nth-child(16) {
                            color: #FFACAC;
                            top: 68%;
                            left: 89%;
                            animation-duration: 73s;
                            animation-delay: -8s;
                            transform-origin: 25vw 20vh;
                            box-shadow: -12vmin 0 2.379469751557979vmin currentColor;
                        }
                        .background span:nth-child(17) {
                            color: #FFACAC;
                            top: 15%;
                            left: 73%;
                            animation-duration: 48s;
                            animation-delay: -39s;
                            transform-origin: -18vw -23vh;
                            box-shadow: 12vmin 0 1.7581799503597049vmin currentColor;
                        }
                        .background span:nth-child(18) {
                            color: #FFACAC;
                            top: 6%;
                            left: 12%;
                            animation-duration: 49s;
                            animation-delay: -40s;
                            transform-origin: 8vw -15vh;
                            box-shadow: -12vmin 0 2.219824217490806vmin currentColor;
                        }
                        .background span:nth-child(19) {
                            color: #FFACAC;
                            top: 9%;
                            left: 32%;
                            animation-duration: 35s;
                            animation-delay: -61s;
                            transform-origin: 5vw 19vh;
                            box-shadow: -12vmin 0 2.1951184243564263vmin currentColor;
                        }
                        .background span:nth-child(20) {
                            color: #f9e7f7;
                            top: 6%;
                            left: 23%;
                            animation-duration: 75s;
                            animation-delay: -35s;
                            transform-origin: 0vw -8vh;
                            box-shadow: 12vmin 0 1.6275121017972067vmin currentColor;
                        }
                        .background span:nth-child(21) {
                            color: #FFACAC;
                            top: 7%;
                            left: 56%;
                            animation-duration: 62s;
                            animation-delay: -40s;
                            transform-origin: 6vw 12vh;
                            box-shadow: -12vmin 0 2.1135801956270894vmin currentColor;
                        }
                        .background span:nth-child(22) {
                            color: #fdc9c9;
                            top: 97%;
                            left: 64%;
                            animation-duration: 44s;
                            animation-delay: -53s;
                            transform-origin: -5vw 16vh;
                            box-shadow: 12vmin 0 2.2750301909109503vmin currentColor;
                        }
                        .background span:nth-child(23) {
                            color: #fdc9c9;
                            top: 96%;
                            left: 79%;
                            animation-duration: 74s;
                            animation-delay: -35s;
                            transform-origin: 22vw 19vh;
                            box-shadow: 12vmin 0 2.006524287959657vmin currentColor;
                        }
                        .background span:nth-child(24) {
                            color: #d4cbcb;
                            top: 27%;
                            left: 16%;
                            animation-duration: 66s;
                            animation-delay: -45s;
                            transform-origin: -8vw -18vh;
                            box-shadow: 12vmin 0 2.36650832698278vmin currentColor;
                        }
                        .background span:nth-child(25) {
                            color: #f9e7f7;
                            top: 38%;
                            left: 32%;
                            animation-duration: 60s;
                            animation-delay: -46s;
                            transform-origin: 3vw 18vh;
                            box-shadow: 12vmin 0 1.9666114032574935vmin currentColor;
                        }
                        .background span:nth-child(26) {
                            color: #FFACAC;
                            top: 23%;
                            left: 97%;
                            animation-duration: 22s;
                            animation-delay: -22s;
                            transform-origin: -10vw -2vh;
                            box-shadow: 12vmin 0 1.5550072442739942vmin currentColor;
                        }
                        .background span:nth-child(27) {
                            color: #FFACAC;
                            top: 99%;
                            left: 69%;
                            animation-duration: 37s;
                            animation-delay: -12s;
                            transform-origin: -24vw -23vh;
                            box-shadow: -12vmin 0 2.129540162323715vmin currentColor;
                        }
                        .background span:nth-child(28) {
                            color: #FFACAC;
                            top: 51%;
                            left: 98%;
                            animation-duration: 50s;
                            animation-delay: -22s;
                            transform-origin: -8vw -17vh;
                            box-shadow: 12vmin 0 1.7607419756103175vmin currentColor;
                        }
                        .background span:nth-child(29) {
                            color: #ffffff;
                            top: 90%;
                            left: 11%;
                            animation-duration: 62s;
                            animation-delay: -56s;
                            transform-origin: 14vw 4vh;
                            box-shadow: 12vmin 0 2.3737453909606616vmin currentColor;
                        }
                        .background span:nth-child(30) {
                            color: #fdf1f1;
                            top: 24%;
                            left: 91%;
                            animation-duration: 55s;
                            animation-delay: -65s;
                            transform-origin: -20vw 5vh;
                            box-shadow: 12vmin 0 1.8072812327443442vmin currentColor;
                        }
                        .background span:nth-child(31) {
                            color: #f9e7f7;
                            top: 17%;
                            left: 95%;
                            animation-duration: 63s;
                            animation-delay: -12s;
                            transform-origin: 2vw 11vh;
                            box-shadow: 12vmin 0 2.023021186629148vmin currentColor;
                        }
                        .background span:nth-child(32) {
                            color: #f9e7f7;
                            top: 96%;
                            left: 70%;
                            animation-duration: 40s;
                            animation-delay: -28s;
                            transform-origin: -9vw -18vh;
                            box-shadow: -12vmin 0 1.71812049734468vmin currentColor;
                        }
                        .background span:nth-child(33) {
                            color: #f9e7f7;
                            top: 97%;
                            left: 43%;
                            animation-duration: 67s;
                            animation-delay: -54s;
                            transform-origin: 19vw 11vh;
                            box-shadow: 12vmin 0 1.527412585447204vmin currentColor;
                        }
                        .background span:nth-child(34) {
                            color: #ffffff;
                            top: 92%;
                            left: 85%;
                            animation-duration: 40s;
                            animation-delay: -49s;
                            transform-origin: -17vw 8vh;
                            box-shadow: -12vmin 0 1.9969770837788698vmin currentColor;
                        }
                        body,
                        html {
                            height: 100%;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                            background: #e74c3c !important;
                        }
                        .searchbar {
                            margin-bottom: auto;
                            margin-top: auto;
                            height: 60px;
                            background-color: #353b48;
                            border-radius: 30px;
                            padding: 10px;
                        }
                        .search_input {
                            color: white;
                            border: 0;
                            outline: 0;
                            background: none;
                            width: 0;
                            caret-color: transparent;
                            line-height: 40px;
                            transition: width 0.4s linear;
                        }
                        .searchbar:hover>.search_input {
                            padding: 0 10px;
                            width: 450px;
                            caret-color: red;
                            transition: width 0.4s linear;
                        }
                        .searchbar:hover>.search_icon {
                            background: white;
                            color: #e74c3c;
                        }
                        .search_icon {
                            height: 40px;
                            width: 40px;
                            float: right;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            color: white;
                            text-decoration: none;
                        }
                    }
                    /*search box css start here*/
                    
                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"><script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><title>Buscar PRODUCTOS!</title></head><body><%- include ('./partials/navbar')%><section class="section"><div class="background"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"></head><!-- Coded with love by Mutiullah Samim--><body><div class="container h-100"><div class="d-flex justify-content-center h-100"><div class="searchbar"><input class="search_input" type="text" name="" placeholder="Search..."><a href="#" class="search_icon"><i class="fas fa-search"></i></a></div></div></div></body></html><%- include ('./partials/footer')%><!-- JavaScript Bundle with Popper --><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script></body></html>